# Keep .DS_Store out
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
.*/*/*/.DS_Store

# Ignore tests ( for now )
tests/

# Ignore page source output
src/formbot/test.html

# Ignore lock file
poetry.lock

# Ignore heavier content
FormBotTesting.mov
